@charset "UTF-8";
/* ==========================================================================
 * Main Sass
 * ========================================================================== */
/* ==========================================================================
 * intro sass
 * ========================================================================== */
.black {
  background: #000;
  color: #fff;
  text-align: center;
  padding-bottom: 20px; }

.light {
  font-weight: 300; }

.hi {
  font-size: 3em;
  text-align: center;
  margin: 45px 0 0 45px; }

.about {
  text-align: justify;
  margin-top: 30px; }

.aboutme {
  padding: 0 10px 0 20px;
  margin: 0 10px 0 40px; }

.stats {
  margin-top: 55px;
  margin-bottom: 60px; }

.bg-dark {
  background-color: #000 !important; }

.toggler {
  color: red;
  float: right; }

.heading {
  margin-top: 30px;
  font-size: 65px; }

.btn-dark {
  border: none; }
  .btn-dark:hover {
    background-color: #000; }

.footer {
  height: 100%;
  margin-top: 40px;
  border-top: 0.25px solid #EFEFF0; }

.copyrights {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  color: #EFEFF0;
  padding-top: 30px; }

body {
  font-family: "Open Sans", sans-serif;
  background: #fff; }

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #333; }

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; }

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none; }

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0; }

#sidebar {
  width: 500px;
  background-image: url(../img/oceanmodel.jpg);
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  color: #fff;
  transition: all 0.3s; }

a[data-toggle="collapse"] {
  position: relative; }

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  font-family: "Glyphicons Halflings";
  font-size: 0.6em; }

a[aria-expanded="true"]::before {
  content: ""; }

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc; }

ul.CTAs {
  padding: 20px; }

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px; }

a.download {
  background: #fff;
  color: #7386D5; }

a.article, a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important; }

#content {
  width: calc(100% - 460px);
  padding: 0 0 40px 0;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0; }

#content.active {
  width: 100%; }

@media (max-width: 768px) {
  #sidebar {
    margin-left: -500px; }

  #sidebar.active {
    margin-left: 0; }

  #content {
    width: 100%; }

  #content.active {
    width: calc(100% - 460px); }

  #sidebarCollapse span {
    display: none; }

  .aboutme {
    margin-left: 10px; } }
/* ==========================================================================
 * Gallery Sass
 * ========================================================================== */
#sidebar-gallery {
  width: 500px;
  background-image: url(../img/labelmodel.jpg);
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  color: #fff;
  transition: all 0.3s; }

@media (max-width: 768px) {
  #sidebar-gallery {
    margin-left: -500px; }

  #sidebar-gallery.active {
    margin-left: 0; }

  #sidebarCollapse span {
    display: none; } }
/* ==========================================================================
 * Contact Sass
 * ========================================================================== */
input, textarea {
  text-indent: 15px; }

.contact-form {
  margin-top: 60px; }

.form-control {
  color: #dddddd;
  font-weight: 300;
  background-color: #fbfafa;
  border-color: #fff;
  line-height: 2.65;
  font-size: 0.75rem; }
  .form-control:focus {
    border-color: red; }

.send {
  color: #ddd;
  border: none;
  font-size: 20px;
  float: right;
  margin-bottom: 30px;
  background-color: #fbfafa; }
  .send:hover {
    color: #999;
    background-color: #EFEFF0; }

#sidebar-contact {
  width: 500px;
  background-image: url(../img/africanmodel.jpg);
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  color: #fff;
  transition: all 0.3s; }

@media (max-width: 768px) {
  #sidebar-contact {
    margin-left: -500px; }

  #sidebar-contact.active {
    margin-left: 0; }

  #sidebarCollapse span {
    display: none; } }

/*# sourceMappingURL=application.css.map */
